body {
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

/* start navbar */
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  background-color: white;
  border: 1px solid #ced4da;
  padding: 5px;
}

nav {
  background-color: #e1e1e1;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-brand img {
  max-width: 200px;
}

ul input {
  color: rgba(0, 0, 0, 0.55);
  background-color: white;
  border: 1px solid #ced4da;
  /* padding: 0; */
  min-width: 350px;
  padding-left: 10px;
}

.icon-search {
  background-color: #756206;
  color: white;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-search {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.108);
  position: relative;
}

.div-search .dropdown-menu {
  right: 0;
}

.d-flex {
  gap: 5px;
}

.d-flex a {
  background-color: #756206;
  padding: 4px 5px;
  border: 1px solid #756206;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}

.d-flex a:hover {
  background-color: transparent;
  color: #756206;
}

.d-flex a:nth-child(1) {
  background-color: transparent;
  color: #756206;
}
.d-flex a:nth-child(1):hover {
  background-color: #756206;
  color: white;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

@media (max-width: 991px) {
  ul input {
    color: rgba(0, 0, 0, 0.55);
    background-color: white;
    border: 1px solid #ced4da;
    padding: 4px;
    min-width: 100%;
    border-radius: 5px;
  }

  ul a {
    border-radius: 5px;
  }

  ul i {
    border-radius: 5px;
  }

  .div-search {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.108);
    position: relative;
    margin-bottom: 20px !important;
  }

  .navbar-nav {
    gap: 5px;
  }

  .d-flex {
    gap: 5px;
    justify-content: center;
  }

  ul input {
    padding: 5px;
  }
}

/* start Drob nav */
.drob-hover ul {
  padding: 0;
  list-style: none;
  background: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
}

.drob-hover.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  box-shadow: 2px 2px 10px #00000042;
}

.drob-hover i {
  font-size: 12px;
  margin-left: 3px;
}

ul li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
}
.drob-hover ul li a {
  display: block;
  padding: 8px 20px;
  color: #333;
  text-align: center;
  text-decoration: none;
}
ul li a:hover {
  color: #fff;
  background: #939393;
}
ul li ul.dropdown {
  min-width: 100%; /* Set width of the dropdown */
  background: white;
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.195);
}
ul li:hover ul.dropdown {
  display: block; /* Display the dropdown */
}
ul li ul.dropdown li {
  display: block;
}

@media (max-width: 991px) {
  .drob-hover ul {
    display: flex;
    overflow-x: scroll;
  }

  .drob-hover ul li a {
    display: block;
    padding: 8px 2px;
    color: #333;
    text-align: center;
    width: 180px;
    text-decoration: none;
  }

  ul li {
    display: inline-block;
    position: initial;
    line-height: 18px;
    text-align: left;
  }
}
/* end Drob nav */

/* end navbar */

/* start home page slider */
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border-width: 10px 0px;
  border-right-style: initial;
  border-left-style: initial;
  border-right-color: initial;
  border-left-color: initial;
  border-image: initial;
  border-top-style: solid;
  border-top-color: transparent;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease 0s;
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -20px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-item img {
  height: 250px;
}

.carousel {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .carousel-item img {
    height: 110px;
  }

  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -25px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
  }
}
/* end home page slider */

/* start slider under home slider */
.enwan-swiber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enwan-swiber h3 {
  color: #0f2a9f;
  font-weight: 500;
  margin-bottom: 25px;
}

.enwan-swiber a {
  text-decoration: none;
  color: #756206;
}

.swiper-slide a {
  text-align: center;
  text-decoration: none;
  /* padding: 50px; */
}

.swiper-slide a p {
  margin-top: 15px;
  color: #0f2a9f;
}

.enwan-swiber h5 {
  margin-bottom: 5px;
}

.swiper-slide a img {
  max-width: 200px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 15px;
  z-index: 1;
  margin-bottom: 50px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: inherit;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 2px;
  left: auto;
  background: black;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-weight: bold;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 2px;
  left: auto;
  background: black;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-weight: bold;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 70%;
  /* width: calc(var(--swiper-navigation-size)/ 44 * 27);
height: var(--swiper-navigation-size); */
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: var(--swiper-navigation-color,var(--swiper-theme-color)); */
}

.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
  display: none;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0px;
  width: 100%;
  display: none;
}

@media (max-width: 767px) {
  .swiper-slide a img {
    max-width: 100%;
  }
}
/* end slider under home slider */

/* start section Deal of the weak */
.Deal-img-text-all {
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.enwan-Deal h3 {
  color: #0f2a9f;
  font-weight: 500;
}

.enwan-Deal {
  margin-bottom: 25px;
  margin-top: 60px;
}

.enwan-deal-text h3 {
  line-height: 1.7;
  margin-bottom: 20px;
  color: #0f2a9f;
}

.Deal-img {
  background-color: white;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.238);
  border-bottom: 1px solid rgba(0, 0, 0, 0.238);
  border-left: 1px solid rgba(0, 0, 0, 0.238);
  /* border-top: 1px solid rgba(0, 0, 0, 0.364); */
}

.Deal-img img {
  max-width: 500px;
}

.Deal-text {
  background-color: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.238);
}

.enwan-deal-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.245);
}

.text-flex {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.text-flex p {
  margin-bottom: 0;
  font-weight: 600;
}

.text-flex select {
  width: 50px;
  outline: none;
}

.change-color {
  color: #0f2a9f;
  font-weight: bold;
}

.change-color-2 {
  color: #756206;
  font-weight: bold;
}

.btn-Deal a {
  background-color: #0f2a9f;
  color: white;
  width: 45%;
  border: none;
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
}

.btn-Deal a:hover {
  background-color: #756206;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.216);
  transform: scale(1.05, 1.05);
}

.btn-Deal a:nth-child(2) {
  background-color: #756206;
}

.btn-Deal a:nth-child(2):hover {
  background-color: #0f2a9f;
}

.btn-Deal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  flex-wrap: wrap;
  margin-top: 45px;
}

@media (max-width: 1200px) {
  .Deal-img {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.207);
  }

  .Deal-img-text-all {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .Deal-img img {
    max-width: 250px;
  }

  .btn-Deal button {
    width: 46%;
  }
}
/* end section Deal of the weak */

/* start page product Page */
.title {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}

.title i.active {
  margin-top: -5px;
  transform: rotate(0deg);
}
.title i {
  margin-top: -5px;
  transform: rotate(-90deg);
  transition: all 0.3s;
}

.div-diplay-one {
  display: none;
}

.div-diplay-two {
  display: none;
}

.div-diplay-three {
  display: none;
}

.div-diplay-four {
  display: none;
}

.div-diplay-five {
  display: none;
}

.div-diplay-six {
  display: none;
}

.div-diplay-seven {
  display: none;
}

.form-check {
  margin-bottom: 10px;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  width: 20px;
  height: 20px;
  margin-top: 2.5px;
  margin-right: 10px;
}

.form-check-input:checked {
  outline: none;
}

.box-slide {
  margin-bottom: 10px;
}

.box-slide h5 {
  color: #0f2a9f;
}

.box-slide i {
  color: #0f2a9f;
}

.filter-text-all {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  margin: 50px 0;
}

.sec-text {
  margin: 0;
}

.enwan-Tv-Entertainment {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.126);
  padding: 10px 30px;
}

.enwan-Tv-Entertainment h3 {
  color: #0f2a9f;
  margin-bottom: 20px;
}

.enwan-Tv-Entertainment a {
  color: #756206;
  text-decoration: underline;
}

.enwan-Tv-Entertainment a:hover {
  color: #0f2a9f;
}

.number-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.number-page a {
  background-color: transparent;
  color: #0f2a9f;
  padding: 2px 8px;
  font-weight: bold;
}

.number-page a:hover {
  background-color: #756206;
  color: white;
}

.fixed-bottom {
  position: initial;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.nav-pagination {
  background-color: white;
}

.filter {
  background-color: white;
  width: 400px;
  padding: 10px;
}

.div-div-div {
  margin-left: 10px;
}

.page-link {
  position: relative;
  display: block;
  color: #0f2a9f;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.border-radius {
  border-radius: 20px !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #756206;
  border-color: #756206;
  /* padding: 3px 8px; */
}

.page-item .page-link {
  z-index: 3;
  color: #0f2a9f;
  background-color: transparent;
  border-color: #756206;
  box-shadow: none;
  outline: none;
  border: none;
  /* padding: 3px 8px; */
}

.page-item .page-link:hover {
  background-color: rgba(192, 192, 192, 0.432);
}

.rounded-circle {
  /* border-radius: 0% !important; */
  padding: 3px 10px;
}

.pagination {
  display: flex;
  padding-left: 0;
  align-items: center;
  gap: 20px;
  list-style: none;
}

@media (max-width: 991px) {
  .filter-text-all {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* end page product Page */

/* start section our product */
.sec-our-product a {
  text-align: center;
  text-decoration: none;
  color: #0f2a9f;
}

.sec-our-product a p {
  font-weight: 500;
}

.sec-our-product {
  overflow: hidden;
}

.sec-our-product-vendor {
  margin: 80px 0;
}

.sec-our-product .row {
  text-align: center;
  --bs-gutter-x: 0;
  background-color: white;
}

.sec-our-product .col-lg-2 {
  border: 1px solid rgba(0, 0, 0, 0.086);
  padding: 0 5px;
  overflow: hidden;
  transition: all 0.3s;
}

.sec-our-product .col-lg-2:hover {
  /* transform: scale(1.02 , 1.02); */
  transform: skewy(10deg);
}

.sec-our-product a img {
  max-width: 200px;
}

@media (max-width: 1300px) {
  .sec-our-product a img {
    max-width: 120px;
  }
}

@media (max-width: 991px) {
  .sec-our-product a img {
    max-width: 100%;
  }

  .sec-our-product .col-lg-2 {
    border: 1px solid rgba(0, 0, 0, 0.086);
    padding: 0 8px;
    overflow: hidden;
    transition: all 0.3s;
  }
}
/* end section our product */

/* start section Newsletter */
.Newsletter h3 {
  color: #0f2a9f;
}

.Newsletter p {
  font-size: 18px;
  letter-spacing: 1;
  color: rgba(0, 0, 0, 0.485);
  margin: 20px 0 25px;
}

.Newsletter {
  text-align: center;
  margin: 70px 0 50px 0;
}

.input-btn-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.input-btn-newsletter input {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.207);
  padding: 5px;
  outline: none;
}

.input-btn-newsletter input:focus {
  box-shadow: 0px 0px 5px #0f299f31;
  /* color: #0f299f31; */
}

.input-btn-newsletter button {
  background-color: #756206;
  padding: 5px;
  color: white;
  border: 1px solid #756206;
  transition: all 0.3s;
}

.input-btn-newsletter button:hover {
  background-color: transparent;
  color: #756206;
}
/* end section Newsletter */

/* start section delivery */
.Delivery {
  margin: 100px 0 20px;
}

.small-box-all {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  border-bottom: 1px solid #00000022;
  padding-bottom: 30px;
}

.small-box {
  max-width: 300px;
  display: flex;
  gap: 10px;
}

.small-box img {
  width: 50px;
}

.small-box p {
  margin-bottom: 0;
}

.change-color-enwan {
  color: #0f2a9f;
  font-weight: bold;
  margin-bottom: 7px !important;
}

.text-small-box a {
  display: inline-block;
  text-decoration: none;
  color: #756206;
}

.text-small-box a:hover {
  color: #0f2a9f;
}

@media (max-width: 991px) {
  .small-box-all {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 30px;
  }

  .Delivery {
    margin: 70px 0;
  }
}
/* end section delivery */

/* start page product vendor */

.div-display-description {
  display: none;
}

.div-display-description p i {
  margin-right: 10px;
}

.div-display-description h4 {
  margin-top: 25px;
}

.btn-view-minus {
  display: none;
}

.Deal-of-weak-vendor {
  margin: 50px 0 30px;
}

.link-home {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.link-home a {
  color: #0f2a9f;
  text-decoration: none;
  font-weight: bold;
}

.link-home p {
  margin-bottom: 0;
}

/* start section Key Features */
.key-box {
  background-color: white;
  max-width: 543px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.237);
  border-radius: 5px;
}

.key-box i {
  color: #d9d9d9;
  font-size: 12px;
  /* margin-top: -10px !important; */
  margin-right: 5px;
}

.key-box h4 {
  color: #0f2a9f;
}

.descreption {
  margin: 15px 0;
}

.descreption h4 {
  margin-bottom: 10px;
}

.descreption p {
  line-height: 1.8;
}

.descreption .ppp {
  color: #756206;
  cursor: pointer;
}

.descreption .ppp:hover {
  color: #0f2a9f;
}

.descreption .ppp:hover i {
  color: #0f2a9f;
}

.descreption .ppp i {
  color: #756206;
}

.key-box .ppp {
  line-height: 2.5;
  margin-bottom: 0;
  /* display: flex;
  align-items: center;
  gap: 10px; */
}

.accord {
  max-width: 543px;
  border: 1px solid rgba(0, 0, 0, 0.237);
  margin-top: 20px;
}

.accordion-body i {
  color: silver;
  margin-right: 10px;
  font-size: 12px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.accord button {
  color: #0f2a9f;
  font-size: 20px;
}
/* end section Key Features */

/* start also like */
.also-like {
  border: 1px solid rgba(0, 0, 0, 0.208);
}
/* end also like */
/* end page product vendor */

/* start page terms and privacy */
.terms-condition {
  margin: 50px 0;
}

.terms-condition h3 {
  color: #0f2a9f;
  margin-bottom: 20px;
}
.terms-condition h6 {
  color: #0f2a9f;
}

.terms-condition h5 {
  color: #0f2a9f;
}

.terms-condition p {
  line-height: 1.8;
}

.terms-condition p span {
  color: #0f2a9f;
  font-weight: bold;
}
/* end page terms and privacy */

/* start payment page */
/* ^^^^^^^^^^^^^^^^^^^^ */
.div-payment-order-All {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
  margin: 100px auto;
}

@media (max-width: 767px) {
  .div-payment-order-All {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.div-Payment-Details {
  width: 600px;
  background-color: white;
  padding: 25px 20px;
  /* height: 600px; */
  /* margin-right: 10px; */
}

.div-Payment-Details p {
  margin-bottom: 0;
}

.div-Payment-Details h2 {
  margin-bottom: 20px;
  color: #0f2a9f;
}

.div-Payment-Details input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #1e386915;
}

.use-saved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.use-saved p {
  margin-bottom: 0;
}

.form-select {
  display: block;
  width: 75%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #1e386915;
  /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e); */
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 9px;
}

.form-select:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.name-card {
  margin-bottom: 30px;
}

.number-card {
  margin-bottom: 30px;
}
.expiration-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.expiration-text p i {
  margin-left: 10px;
}

.expiration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.expiration .input2 {
  margin-left: 10px;
}

.expiration .input1 {
  margin-right: 10px;
}

.btn-order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 10px;
  margin-top: 60px;
}

.btn-order button {
  background-color: #0f2a9f;
  padding: 15px;
  border-radius: 10px;
  color: white;
  border: 1px solid #0f2a9f;
  width: 165px;
  transition: all 0.3s;
}

.btn-order button:hover {
  background-color: transparent;
  padding: 15px;
  border-radius: 10px;
  color: #0f2a9f;
  border: 1px solid #0f2a9f;
}

.btn-order button:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .div-Payment-Details {
    width: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .form-select {
    width: 103%;
  }

  .btn-order button:not(:last-child) {
    margin-right: 0;
  }
}
/* ^^^^^^^^^^^^^^^^^^^^ */

/* start order */
.order-Summary {
  width: 600px;
  background-color: white;
  padding: 20px;
  /* height: 600px; */
}

.details-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enwan-order h2 {
  color: #0f2a9f;
}

.img-order img {
  width: 100%;
}

.img-order {
  margin: 20px 0;
}

.details-About {
  max-width: 300px;
}

.details-About p {
  font-size: 25px;
}

.details-all .increase-num {
  display: flex;
}

.details-all .increase-num p {
  background-color: #1e386915;
  padding: 7px;
  width: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus {
  cursor: pointer;
}
.plus {
  cursor: pointer;
}
.exeption {
  background-color: transparent !important;
}

.input-btn {
  display: flex;
}

.order-Summary input {
  width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #1e386915;
}

.order-Summary button {
  background-color: transparent;
  color: #0f2a9f;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #0f2a9f;
  width: 100px;
  margin-left: 10px;
  transition: all 0.3s;
}

.order-Summary button:hover {
  background-color: #0f2a9f;
  color: white;
}

.div-se3r-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.div-se3r-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .order-Summary {
    width: 300px;
    height: 500px;
  }
  .details-About p {
    font-size: 15px;
  }
}
/* end order */
/* end payment page */

/* start page contact us */
/* start section our details */
.contact-us-all {
  margin: 100px 0;
}

.details-contact {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.our-details .color {
  color: #0f2a9f;
}

.text-details a {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  color: #0f2a9f;
}

.text-details a:hover {
  color: #756206;
}
.our-details h3 {
  margin-bottom: 30px;
}
/* end section our details */

/* start section input form */
.ourdetails-form-input {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.input-form {
  max-width: 600px;
}

.input-form form {
  box-shadow: 0 0 10px #0f299f2e;
  border-radius: 10px;
  padding: 25px 20px;
  background-color: white;
}

.input-form form h3 {
  margin-bottom: 30px;
}

.input-form form input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.31);
  margin-bottom: 20px;
  padding: 5px;
}

.input-form form textarea {
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.31);
  margin-bottom: 30px;
  padding: 5px;
}

.input-form form textarea:focus {
  box-shadow: 0 0 10px #0f299f32;
}

.input-form form button {
  background-color: #0f2a9f;
  color: white;
  padding: 5px;
  width: 150px;
  /* border-radius: 5px; */
  border: none;
  transition: all 0.3s;
}

.input-form form button:hover {
  background-color: white;
  color: #0f2a9f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.282);
}

@media (max-width: 991px) {
  .ourdetails-form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
/* end section input form */
/* end page contact us */

/* start page signUp */
.login {
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 10px;
  border-top: 2px solid #0f2a9f;
}

.login h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.215);
  padding: 30px 0 !important;
  margin-bottom: 30px;
  color: #0f2a9f;
}

@media (min-width: 1400px) {
  .login {
    background-color: #fff;
    margin: 180px auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    border-top: 2px solid #0f2a9f;
  }
}

@media (min-width: 2000px) {
  .login {
    background-color: #fff;
    margin: 450px auto;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    border-top: 2px solid #0f2a9f;
  }
}

.cont-cont {
  padding: 10px 0;
}

.cont-cont-2:hover {
  background-color: #3f51b5 !important;
  color: #fff;
}
.ico-img-2 {
  display: none;
}
.cont-cont-2:hover .ico-img-2 {
  display: block;
  padding-left: 10px;
}
.cont-cont-2:hover .ico-img {
  display: none;
}
.ico-goo {
  color: #fff;
  font-size: 25px;
}
.cont-cont:hover {
  background-color: #3f51b5 !important ;
  color: #fff;
}
.cont-cont:hover .ico-face {
  color: #fff;
}
.ico-face {
  font-size: 25px;
  color: blue;
}
.form-control:focus {
  border-color: #3f51b5;
  box-shadow: 0px 2px 10px #3f51b529;
}

/* end login */
/* start line */
.parent {
  position: relative;
  margin: auto;
  width: 85%;
}

@media (max-width: 767px) {
  .parent {
    position: relative;
    margin: auto;
    width: 100%;
  }
}

.content::before {
  content: "";
  width: 45%;
  height: 1px;
  background-color: gray;
  position: absolute;
  top: 11px;
  left: 14px;
}
.content::after {
  content: "";
  width: 45%;
  height: 1px;
  background-color: gray;
  position: absolute;
  top: 11px;
  right: 14px;
}
/* end line */
/* inputs */

/* .all-content-2
{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 23px;
} */

.sec-one {
  padding: 10px;
  max-width: 635px;
  margin: auto;
}

.sec-one input {
  padding: 8px 0 8px 35px;
  background-color: #0f299f1b;
}

/* .div-check {
  display: flex;
  justify-content: space-between;
} */

/* .form-check {
  display: flex;
} */

.form-check-input {
  width: 12px;
  padding: 0 !important;
  box-shadow: none;
  outline: none;
}

.form-check-input:focus {
  /* border: none; */
  box-shadow: none;
  outline: none;
}

.bt-login-2 {
  background-color: #0f2a9f;
  color: #fff;
  width: 100%;
}
.bt-login-2:hover {
  background-color: #0f299f88;
  color: #fff;
}
.bt-login-5 {
  border: 1px solid #0f2a9f;
  color: #0f2a9f;
  width: 100%;
}
.bt-login-5:hover {
  background-color: #0f2a9f;
  color: #fff;
}
/* end inputs */
/* start footer */
.foot-er {
  background-color: white;
  /* box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25); */
  border-radius: 0px 0px 10px 10px;
  border-top: 2px solid silver;
  padding-bottom: 20px;
}

.foot-er .container {
  max-width: 635px;
}

.sec-one .col-md-10 {
  position: relative;
}

.sec-one .col-md-10 i {
  position: absolute;
  top: 45px;
  left: 20px;
}
/* end footer */

@media (max-width: 767px) {
  .head-h {
    font-size: 21px;
  }
  .to-all-login {
    flex-direction: column;
  }
  .content::before {
    width: 40%;
  }
  .content::after {
    width: 40%;
  }
  .all-content-2 {
    justify-content: space-around;
    font-size: 15px;
  }
}

/* ^^^^^^^^^^^^^^^^^^ */

/* end page signUp */

/* start footer */
.foot-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer {
  padding-bottom: 15px;
}

footer p {
  margin-bottom: 0;
}

.links-foot {
  display: flex;
  gap: 20px;
  align-items: center;
}

.links-foot a {
  text-decoration: none;
  color: #0f2a9f;
}

.links-foot a:hover {
  color: #756206;
}

.icon-foot {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.icon-foot i {
  font-size: 30px;
  color: black;
  transition: all 0.3s;
}

.icon-foot i:hover {
  transform: scale(1.1, 1.1);
}

.copyright p {
  color: #0f2a9f;
}

@media (max-width: 991px) {
  .foot-all {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .foot-all a {
    font-size: 11px;
  }

  .links-foot {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}
/* end footer */
